<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Note</title>
    <link rel="stylesheet" href="/CSS/style.css">
</head>
<body>
    <section class="head">
      <h1>Notes</h1>
    </section>
    <h1 id="tle"><%= note.title %></h1>
    <p id="cnt"><%= note.content %></p>
    <script src="./JS/display.js"></script>
</body>
</html>