<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/style.css">
</head>
<body>
    <section class="head">
    <h1>Create Note</h1>
    </section>
    <form id="crtform">
        <label for="title">Title</label>
        <input type="text" name="title" placeholder="Enter the Title of  Note :">
        <label for="content">Content</label>
        <textarea name="content" placeholder="Write your note here..." id="ctt" rows="8" cols="30"></textarea>
        <button type="submit">Create Note</button>
        <h2 id="resp"></h2>
    </form>
    <script src="./JS/form.js"></script>
</body>
</html>